*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: "Permanent Marker", cursive;
    font-weight: normal;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}

h1 {
    margin-bottom: 100px;
    font-size: 70px;
}

#gameContainer {
    text-align: center;
}

#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

button {
    margin-top: 70px;
    width: 130px;
    height: 55px;
    background: none;
    border-radius: 400px;
    padding-top: 20px;
    padding-bottom: 40px;
    cursor: pointer;
    font-size: 16px;
}